<footer style="background-color: #01be6f59; color: white; text-align: center; padding: 20px; margin-top: 30px;">
  <p>&copy; 2025 FalconsForms. All Rights Reserved.</p>
  <ul
                style="position: unset; font-size: 2rem; display: flex; justify-content: center; align-items: center; gap: 20px; list-style: none; padding: 0;">
    
                <li><a style="color: black;" target="_blank" href="https://store.steampowered.com/app/2492040/FATAL_FURY_City_of_the_Wolves/"><i
                            class="bi bi-steam"></i></a></li>
                <li><a style="color: black;" target="_blank"
                        href="https://www.xbox.com/ar-SA/games/store/%E9%A4%93%E7%8B%BC%E4%BC%9D%E8%AA%AC-city-of-the-wolves-special-edition/9nppw057hbdw"><i
                            class="bi bi-xbox"></i></a></li>
                <li><a target="_blank" style="text-decoration: none; color: black;"
                        href="https://store.playstation.com/en-sa/product/JP0576-PPSA19359_00-PS5FFCOTWSPECIAL/"><i
                            class="bi bi-playstation"></i></a></li>
            </ul>
</footer>  
<script src="/javascript/script.js"></script>
</body>
</html>